/**
 * Footer
 * Author: Graffino (http://www.graffino.com)
 */

.footer {
  display: block;
  padding-top: rem(10px);
  padding-bottom: rem(10px);
  background-color: $color-background-dark;
  text-align: center;
}
