/**
 * Header
 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: to-rem(10px) to-rem(30px);
  background-color: $color-background-dark;

  &__logo {
    svg {
      display: block;
      width: auto;
      height: to-rem(50px);
    }
  }

  &__navigation {
    .navigation {
      &__menu {
        * + * {
          margin-left: to-rem(50px);
        }
      }

      &__item {
        display: inline-block;
      }
    }
  }
}
