/**
 * Custom Cursor
 */

.cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.cursor--small {
  @extend .h-z-index-max;
  top: rem(-2.5px);
  left: rem(-2.5px);
  width: rem(20px);
  height: rem(20px);
  border: 1px solid $white;
  border-radius: 50%;
}
