.docker/logs/traefik/*
.docker/logs/php-fpm/*
.docker/logs/mariadb/*
.docker/logs/cron/*
.docker/logs/nginx/*
.docker/logs/redis/*
.docker/traefik/acme/acme-cloudflare.json
.docker/traefik/acme/acme-route53.json

cache
storage/*
node_modules
vendor
