{
  "parser": "babel-eslint",
  "extends": ["standard", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "max-len": ["error", 80]
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  }
}
