{
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "prettier/standard"],
  "plugins": ["prettier"],
  "rules": {
    "template-curly-spacing" : "off",
    "indent": [2, 2, {
      "ignoredNodes": ["TemplateLiteral"],
      "SwitchCase": 1
    }],
    "import/no-duplicates": "off",
    "no-case-declarations": "off",
    "space-before-function-paren": 0,
    "array-callback-return": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  },
  "globals": {
    "describe": "readonly",
    "it": "readonly",
    "expect": "readonly",
    "beforeEach": "readonly",
    "context": "readonly",
    "cy": "readonly"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    },
    "requireConfigFile": false
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  }
}
