{
  "parser": "babel-eslint",
  "extends": ["standard", "prettier/standard"],
  "plugins": ["prettier", "standard"],
  "rules": {
    "template-curly-spacing" : "off",
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }],
    "import/no-duplicates": "off"
  },
  "globals": {
    "describe": "readonly",
    "it": "readonly",
    "context": "readonly",
    "cy": "readonly"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  }
}
