/.git
/node_modules
/composer
/cache
/dist
/dist-wp
.env
.DS_Store
.idea
/certs/privkey.pem
/certs/fullchain.pem
/certs/chain.pem
/certs/cert.pem
/nohup.out
/vendor/
/wordpress/uploads/alm_templates
/.docker/logs
/backstop_data/bitmaps_test/*
/backstop_data/html_report/*
/wordpress/uploads/complianz/tmp
