/.git
/node_modules
/composer
/cache
/dist
/dist-wp
.env
.DS_Store
.idea
/certs/privkey.pem
/certs/chain.pem
/certs/cert.pem
/nohup.out
/vendor/
/cypress/screenshots
/cypress/videos
/wordpress/uploads/alm_templates
/.docker/logs
