@charset "utf-8";

/*
Edit Link CSS Style file
*/

@font-face {
  font-family: 'nwp-admin';
  font-style: normal;
  font-weight: normal;
  src: url(../../inc/admin/icons/admin.woff2) format('woff2'),
    url(../../inc/admin/icons/admin.woff2) format('woff');
}

.nwp-admin {
  position: absolute;
  z-index: 999999;
}

.nwp-admin__icon {
  right: 45px;
  bottom: 10%;
  z-index: 99999;
  display: inline-block;
  cursor: pointer;
}

.nwp-admin__icon::before {
  pointer-events: none;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 40px;
  padding: 10px;
  background-color: #fff;
  font-family: 'nwp-admin';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
  font-variant: normal;
}

.nwp-admin__icon:hover::before {
  background: #000;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.2);
  transition: 0.2s ease-in-out;
}

.nwp-admin__icon a {
  position: absolute;
  top: 3px;
  left: 4px;
  display: block;
  width: 35px;
  height: 35px;
}

.nwp-admin__icon.-edit,
.nwp-admin__icon.-edit-menu,
.nwp-admin__icon.-panel,
.nwp-admin__icon.-select {
  color: #000;
}

.nwp-admin__icon.-edit:hover,
.nwp-admin__icon.-edit-menu:hover,
.nwp-admin__icon.-panel:hover,
.nwp-admin__icon.-select:hover {
  color: #fff;
}

.nwp-admin__icon.-edit::before {
  content: '\65';
}

.nwp-admin__icon.-edit-menu::before {
  content: '\6d';
}

.nwp-admin__icon.-panel::before {
  content: '\61';
  font-size: 16px;
}

.nwp-admin__icon.-select::before {
  content: '\73';
}
