@charset "utf-8";

/*
Custom Admin CSS Style file
Author: Graffino (http://www.graffino.com)
*/

/* stylelint-disable selector-max-id */
#header-logo,
#footer-left,
#footer-upgrade,
#screen-mdeta,
#wp-admin-bar-wp-logo {
  display: none !important;
}

#login h1 a {
  width: 100%;
  height: 80px;
  background: url(../../images/logo.svg) no-repeat center center;
  background-size: contain;
}
