  <footer class="footer">
    <div class="container">
      <a class="link" href="">
        Ninja
      </a>
      is maintained by
      <a class="link" href="https://graffino.com">
        Graffino
      </a>
    </div>
  </footer>
</body>

</html>
