/**
 * Variables
 * Author: Graffino (http://www.graffino.com)
 */

/**
 * Palette
 */

$black: #000;
$eerie-black: #151923;
$midnight-express: #1d2230;
$charleston-green: #222734;
$champagne: #dac19d;
$silver-sand: #c2c2c2;
$white: #fff;
$picton-blue: #209cee;
$mountain-meadow: #23d160;
$vermilion: #ff470f;
$mustard: #ffdd57;

/**
 * Brand Colors
 */

$color-primary: $midnight-express;
$color-accent: $champagne;
$color-info: $picton-blue;
$color-success: $mountain-meadow;
$color-warning: $mustard;
$color-danger: $vermilion;

/**
 * Typography
 */

$default-font-size: 19px;
$default-font-weight: 200;
$default-line-height: 1.5;

$body-font-size: 19px;
$body-line-height: 1.5;

$h1-font-size: 40px;
$h1-line-height: 1.5;

$h2-font-size: 34px;
$h2-line-height: 1.5;

$h3-font-size: 30px;
$h3-line-height: 1.5;

$h4-font-size: 27px;
$h4-line-height: 1.5;

$h5-font-size: 24px;
$h5-line-height: 1.5;

$h6-font-size: 21px;
$h6-line-height: 1.5;

/**
 * Breakpoints
 */

$breakpoints: (xlarge: 1250px,
  desktop: 1120px,
  large: 1050px,
  medium: 940px,
  tablet: 768px,
  small: 640px,
  xsmall: 480px,
  mobile-large: 414px,
  mobile-medium: 375px,
  mobile-small: 320px);

/**
 * Grid
 */

// Maximum numbers of columns in the grid
$max-columns: 12;
// Default column gutter width
$columns-gutter: 24px;
$columns-gutter-large: 40px;
// Default container horizontal padding
$container-padding: 28px;
$container-padding-small: 12px;
// Default container width
$container-width: 1200px;

/**
 * Globals
 */

$default-radius: 4px;
$default-shadow: 0 5px 20px 0 rgba($color-primary, 0.3);
$default-margin: 10px;
$default-padding: 80px;
