/**
 * Buttons
 * Author: Graffino (http://www.graffino.com)
 */

.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: $default-radius;
  padding: rem(16px) rem(40px);
  background-color: $color-primary;
  color: $white;
  font-size: $default-font-size;
  font-weight: $semibold;
  text-align: center;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: $default-shadow;
  transition: transition-custom();

  @include below(small) {
    width: 100%;
  }

  &:hover {
    background-color: darken($color-primary, 0.1);
  }
}
