/**
 * Buttons
 * Author: Graffino (http://www.graffino.com)
 */

$button-radius: $default-radius;

.button {
  user-select: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: $button-radius;
  padding: rem(16px) rem(40px);
  background-color: $color-button;
  color: white;
  font-size: $size-medium;
  font-weight: $semibold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: $default-shadow;
  transition: transition-custom();

  &:hover {
    background-color: $color-primary-darker;
  }

  @include below(small) {
    width: 100%;
  }
}
