/**
 * Color variables
 * Author: Graffino (http://www.graffino.com)
 */

/**
 * Backgrounds
 */

$color-background: $ghost-white;
$color-background-dark: $white-smoke;

/**
 * Borders
 */

$color-border: $color-primary;

/**
 * Text
 */

$color-text: $color-primary;

/**
 * Headings
 */

$color-heading: $color-primary;

/**
 * Links
 */

$color-link: $color-primary;
$color-link-hover: rgba($color-primary, 0.7);

/**
 * Form Elements
 */

$color-form-required-mark: $color-danger;
$color-form-notice-text: $color-danger;
