/**
 * Color variables
 * Author: Graffino (http://www.graffino.com)
 */

/**
 * Backgrounds
 */

$color-background: $white;

/**
 * Borders
 */

$color-border: $alto;

/**
 * Text
 */

$color-text: $black;

/**
 * Headings
 */

$color-heading: $color-primary;

/**
 * Links
 */

$color-link: $black;
$color-link-hover: rgba($black, 0.7);

/**
 * Form Elements
 */

$color-form-required-mark: $color-danger;
$color-form-notice-text: $color-danger;
