/**
 * Fonts and Sizes
 * Author: Graffino (http://www.graffino.com)
 */

/*
  // Font weights
  Extra Light, Ultra Light = 100
  Light, Thin = 200
  Book, Demi = 300
  Normal, Regular = 400
  Medium = 500
  SemiBold, Demibold = 600
  Bold = 700
  Black, ExtraBold, Heavy = 800
  Extra Black, Fat, Poster, UltraBlack = 900
*/

$medium: 500;
$semibold: 600;
$bold: 700;

/**
 * Sharp Sans
 */

// Medium - 500
@include webfont("SharpSans", "SharpSansNo1-Medium", $medium, normal, "U+0000-007F");

// SemiBold - 600
@include webfont("SharpSans", "SharpSansNo1-Semibold", $semibold, normal, "U+0000-007F");

// Bold - 700
@include webfont("SharpSans", "SharpSansNo1-Bold", $bold, normal, "U+0000-007F");


/**
 * Georgia
 */

// Italic
@include webfont("Georgia", "Georgia-Italic", 500, italic, "U+0000-007F");

/**
 * Fontfaces
 */

$sans-fontface:                "SharpSans";
$serif-fontface:               "Georgia";
$cursive-fontface:             "Zapfino";

// Font-families stack
$sans-fontface-stack:          $sans-fontface, Helvetica, Arial, sans-serif;
$serif-fontface-stack:         $serif-fontface, Georgia, "Times New Roman", Times, serif;
$cursive-fontface-stack:       $cursive-fontface, cursive, sans-serif;

// System fontface stacks used when webfonts are not loaded
$system-sans-fontface-stack:   "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$system-serif-fontface-stack:  "Georgia", "Times New Roman", Times, serif;


/**
 * Defaults
 */

$default-font-size:           rem(18px);
$default-font-weight:         $medium;
$default-line-height:         1.38;
$default-fontface-stack:      $sans-fontface-stack;
$default-system-stack:        $system-sans-fontface-stack;
