/**
 * SCSS functions
 * Author: Graffino (http://www.graffino.com)
 */

// Generate color themeing for headings
$font-weights: (
  ultraligt: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  black: 800,
  extrablack: 900,
);

$font-colors: (
  white: white,
  black: black,
  primary: $color-primary,
  accent: $color-accent,
  success: $color-success,
  info: $color-info,
  warning: $color-warning,
  danger: $color-danger,
);

/**
 * Functions and Mixins
 */

// Convert to REM
@function rem($value) {
  $rem-value: $value / $base-font-size-px;
  @return #{$rem-value}rem;
}

// Convert to EM
@function em($value) {
  $em-value: $value / $base-font-size-px;
  @return #{$em-value}em;
}

// CSS calc() subtract value from 100%
@function calc-100-minus($value) {
  @return calc(100% - #{rem($value)});
}

// CSS calc() subtract value from 100vh
@function calc-100vh-minus($value) {
  @return calc(100vh - #{rem($value)});
}

// CSS calc() add value to 100%
@function calc-100-plus($value) {
  @return calc(100% + #{rem($value)});
}

// CSS calc() substract value from 50%
@function calc-50-minus($value) {
  @return calc(50% - #{rem($value)});
}

/*
 * Font mixin
 */
@mixin webfont(
  $family,
  $file,
  $weight: normal,
  $style: normal,
  $range: 'U+0000-007F'
) {
  @font-face {
    font-family: $family;
    font-display: swap;
    font-style: $style;
    font-weight: $weight;
    src: url(../fonts/#{$file}.woff2) format('woff2'),
      url(../fonts/#{$file}.woff) format('woff');
    unicode-range: $range;
  }
}

@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin align-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin align-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin align-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font-weights {
  @each $weight, $value in $font-weights {
    &.-font-weight {
      &-#{$weight} {
        font-weight: $value;
      }
    }
  }
}

@mixin font-colors {
  @each $key, $value in $font-colors {
    &.-color-#{$key} {
      color: $value;
    }
  }
}

@mixin link-colors {
  @each $key, $value in $font-colors {
    &.-color-#{$key} {
      color: $value;

      &:hover {
        color: darken($value, 20%);
      }
    }
  }
}

@function transition-custom(
  $property: all,
  $duration: 250ms,
  $ease: cubic-bezier(0.25, 0.46, 0.45, 0.94)
) {
  @return $property $duration $ease;
}

// Block level state. Eg.: .target.is-pinned {}
@mixin block-state($state-class, $parent-class: '') {
  @at-root #{$parent-class}#{$state-class}#{&} {
    @content;
  }
}

// Root level state. Eg.: .header.is-pinned .target {}
@mixin root-state($state-class, $parent-class: '') {
  @at-root #{$parent-class}#{$state-class} #{&} {
    @content;
  }
}

// Root level sibling state. Eg.: .header.is-pinned + .sibling .target {}
@mixin root-sibling-state(
  $state-class,
  $sibling-class: '.main',
  $parent-class: ''
) {
  @at-root #{$parent-class}#{$state-class} + #{$sibling-class} #{&} {
    @content;
  }
}

// Easy Media Queries

@mixin above($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value + 1) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin between($lower, $upper) {
  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint + 1) and (max-width: $upper-breakpoint) {
      @content;
    }

    // If one or both of the breakpoints don't exist.
  } @else {
    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) ==false) {
      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) ==false) {
      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

// Maintain Aspect Ratio
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@mixin clickable-area($padding) {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    padding: rem($padding);
    will-change: transform;
    transform: translate(-50%, -50%);
  }
}
