<section class="section features">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="features__item">
          <div class="features__icon">
            <img markup-inline src="../../images/svgs/zap.svg" alt="Icon of a lightning">
          </div>
          <div class="features__caption">
            <h3 class="heading h3">Crazy Fast</h3>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="features__item">
          <div class="features__icon">
            <img markup-inline src="../../images/svgs/grid.svg" alt="Icon of a grid">
          </div>
          <div class="features__caption">
            <h3 class="heading h3">Flexible Grid</h3>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="features__item">
          <div class="features__icon">
            <img markup-inline src="../../images/svgs/tool.svg" alt="Icon of a wrench">
          </div>
          <div class="features__caption">
            <h3 class="heading h3">Modern Tools</h3>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="features__item">
          <div class="features__icon">
            <img markup-inline src="../../images/svgs/feather.svg" alt="Icon of a feather">
          </div>
          <div class="features__caption">
            <h3 class="heading h3">Lightweight</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
