<section class="section features -background-dark">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="features__item">
          <div class="features__icon">
            <img markup-inline src="../../images/svgs/zap.svg" alt="Icon of a lightning">
          </div>
          <div class="features__caption">
            <p class="text -color-accent">Crazy Fast</p>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="features__item">
          <div class="features__icon">
            <img markup-inline src="../../images/svgs/grid.svg" alt="Icon of a grid">
          </div>
          <div class="features__caption">
            <p class="text -color-accent">Flexible Grid</p>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="features__item">
          <div class="features__icon">
            <img markup-inline src="../../images/svgs/tool.svg" alt="Icon of a wrench">
          </div>
          <div class="features__caption">
            <p class="text -color-accent">Modern Tools</p>
          </div>
        </div>
      </div>
      <div class="column is-3">
        <div class="features__item">
          <div class="features__icon">
            <img markup-inline src="../../images/svgs/feather.svg" alt="Icon of a feather">
          </div>
          <div class="features__caption">
            <p class="text -color-accent">Lightweight</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
