<footer class="footer">
  <div class="container">
    Made with
    <svg class="icon" width="16" height="16">
      <use xlink:href="#coffee"></use>
    </svg>
    by
    <a class="link" href="https://graffino.com">
      graffino
    </a>.
  </div>
</footer>
</body>

</html>
