<footer class="footer">
  <div class="container">
    <p class="text -color-accent">
      Made with
      <svg class="icon" width="16" height="16">
        <use xlink:href="#coffee"></use>
      </svg>
      by
      <a class="link -color-accent -type-inverted" href="https://graffino.com">
        Graffino
      </a>
    </p>
  </div>
</footer>
</body>

</html>
