<!DOCTYPE html>
<html lang="en_US" class="no-js no-fonts" data-component="avoid-fout mobile-detect">
<head>
  <title>Graffino Ninja</title>
  <meta name="description" content="Graffino Ninja. Website building webpack flow we use at Graffino.">

  <!-- // Configuration meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width">

  <!-- // Application title - iOS / macOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Graffino Ninja">

  <!-- // Facebook Meta -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="/">
  <meta property="og:title" content="Graffino Ninja">
  <meta property="og:locale" content="en_US">
  <meta property="og:description" content="Graffino Ninja">
  <meta property="og:image" content="/social.jpg">
  <meta property="og:image:alt" content="Graffino Ninja. Website building webpack flow we use at Graffino.">

  <!-- // Twitter Meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Graffino Ninja">
  <meta name="twitter:description" content="Graffino Ninja. Website building webpack flow we use at Graffino.">
  <meta name="twitter:image" content="/social.jpg">
  <meta name="twitter:image:alt" content="Graffino Ninja. Website building webpack flow we use at Graffino.">

  <!-- // Favicon -->
  <link rel="icon" href="/favicon.ico">
  <!-- Apple Pin Icon -->
  <link rel="mask-icon" href="/pin_icon.svg" color="#000000">
  <!-- Apple Touch Icon -->
  <link rel="apple-touch-icon" href="/touch-icon.png">
  <!-- Apple Startup Image -->
  <link rel="apple-touch-startup-image" href="/touch-startup-image.png">

  <!-- // Manifest file - Android -->
  <link rel="manifest" href="/site.webmanifest">
  <!-- // Manifest file - Windows -->
  <link rel="msapplication-config" href="/browserconfig.xml">

  <!-- // Humans file -->
  <link type="text/plain" rel="author" href="/humans.txt">

  <!-- // Preconnect / Prefetch -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="preconnect" href="//fonts.googleapis.com">
</head>
<body>
  <div class="h-visually-hidden">
   {{{sprite compilation.assets}}}
  </div>
  <header class="header" data-component="header" data-prop-test-prop="test-prop">
    <div class="js-header-container">
      <div class="header__logo">
        <a data-ref="test-ref" class="link h-display-block" href="/" aria-label="Graffino logo">
          <img markup-inline src="../../images/svgs/logo.svg" alt="Logo of Graffino">
        </a>
      </div>
      <nav class="header__navigation js-nav">
        <ul class="navigation__menu list">
          <li class="navigation__item list__item">
            <a class="navigation__link link" href="https://github.com/Graffino/Ninja">
              Source Code
            </a>
          </li>
          <li class="navigation__item list__item">
            <a class="navigation__link link" href="https://github.com/Graffino/Ninja">
              Documentation
            </a>
          </li>
          <li class="js-hamburger"></li>
        </ul>
      </nav>
    </div>
  </header>
