<section class="section hero">
  <div class="container">
    <div class="columns align-middle">
      <div class="column is-3">
        <h1 class="heading h1">Ninja</h1>
        <p class="text">
          Zero Config
          <br />
          Modern Website
          <br />
          Boilerplate
        </p>
        <a href="#setup" class="button">
          <span class="button__inner">Get started</span>
        </a>
      </div>
      <div class="column is-9">
        <canvas class="hero__animation" data-component="three"></canvas>
      </div>
    </div>
  </div>
</section>
