<section class="section hero">
  <div class="container">
    <div class="columns align-middle">
      <div class="column is-6">
        <h1 class="heading h1">ninja.</h1>
        <h2 class="subheading h2">
          zero-config
          <br />
          modern website
          <br />
          boilerplate
        </h2>
        <a class="button" href="#setup">
          Get started
          <svg class="icon" width="6" height="12">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
      <div class="column is-6">
        <div class="hero__illustration">
          <img class="h-responsive-image" src="images/building.png" alt="Illustration of hands laying bricks">
        </div>
      </div>
    </div>
  </div>
</section>
