<section class="section setup">
  <div class="container">
    <h3 class="heading h3">Getting started.</h3>
    <ul class="list setup__steps">
      <li class="list__item">
        <p class="text">Clone the repo.</p>
        <pre class="code">
          <code>git clone git@github.com:graffino/ninja.git</code>
          <code>cd ninja</code>
        </pre>
      </li>
      <li class="list__item">
        <p class="text">Initialize new git workspace.</p>
        <pre class="code">
          <code>rm -rf .git</code>
          <code>git init</code>
        </pre>
      </li>
      <li class="list__item">
        <p class="text">Install dependencies.</p>
        <pre class="code">
          <code>yarn install</code>
        </pre>
      </li>
      <li class="list__item">
        <p class="text">Start dev server.</p>
        <pre class="code">
          <code>yarn run dev</code>
        </pre>
      </li>
    </ul>
  </div>
</section>
