<section class="section setup" id="setup">
  <div class="container">
    <h2 class="heading h1">Getting started</h2>
    <ul class="list setup__steps">
      <li class="list__item">
        <p class="text">Clone the repo</p>
        <pre class="code"><code>git clone git@github.com:graffino/ninja.git</code><br /><code>cd ninja</code></pre>
      </li>
      <li class="list__item">
        <p class="text">Initialize new git workspace</p>
        <pre class="code"><code>rm -rf .git</code><br /><code>git init</code></pre>
      </li>
      <li class="list__item">
        <p class="text">Install dependencies</p>
        <pre class="code"><code>yarn install</code></pre>
      </li>
      <li class="list__item">
        <p class="text">Start dev server</p>
        <pre class="code"><code>yarn run dev</code></pre>
      </li>
    </ul>
  </div>
</section>
