/**
 * Buttons
 */

.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: to-rem(2px) solid $color-primary;
  padding: to-rem(16px) to-rem(32px);
  background-color: $color-accent;
  color: $eerie-black;
  font-size: to-rem(11px);
  line-height: 1.2;
  letter-spacing: to-rem(3.5px);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  transition: transition-custom();

  &::before,
  &::after,
  &__inner::before,
  &__inner::after {
    content: '';
    position: absolute;
    display: block;
    width: to-rem(12px);
    height: to-rem(12px);
    color: $color-accent;
    transition: transition-custom(all, 800ms);
  }

  &::before {
    top: to-rem(-4px);
    left: to-rem(-4px);
    border-top: to-rem(2px) solid currentColor;
    border-left: to-rem(2px) solid currentColor;
  }

  &::after {
    top: to-rem(-4px);
    right: to-rem(-4px);
    border-top: to-rem(2px) solid currentColor;
    border-right: to-rem(2px) solid currentColor;
  }

  &__inner::before {
    bottom: to-rem(-4px);
    left: to-rem(-4px);
    border-bottom: to-rem(2px) solid currentColor;
    border-left: to-rem(2px) solid currentColor;
  }

  &__inner::after {
    right: to-rem(-4px);
    bottom: to-rem(-4px);
    border-right: to-rem(2px) solid currentColor;
    border-bottom: to-rem(2px) solid currentColor;
  }

  &:hover {
    &::before,
    &::after,
    .button__inner::before,
    .button__inner::after {
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    vertical-align: middle;
  }
}
