/**
 * Buttons
 * Author: Graffino (http://www.graffino.com)
 */

.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: rem(2px) solid $color-primary;
  padding: rem(16px) rem(32px);
  background-color: $color-accent;
  color: $eerie-black;
  font-size: rem(11px);
  line-height: 1.2;
  letter-spacing: rem(3.5px);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  transition: transition-custom();

  &::before,
  &::after,
  &__inner::before,
  &__inner::after {
    content: '';
    position: absolute;
    display: block;
    width: rem(12px);
    height: rem(12px);
    color: $color-accent;
    transition: transition-custom(all, 800ms);
  }

  &::before {
    top: rem(-4px);
    left: rem(-4px);
    border-top: rem(2px) solid currentColor;
    border-left: rem(2px) solid currentColor;
  }

  &::after {
    top: rem(-4px);
    right: rem(-4px);
    border-top: rem(2px) solid currentColor;
    border-right: rem(2px) solid currentColor;
  }

  &__inner::before {
    bottom: rem(-4px);
    left: rem(-4px);
    border-bottom: rem(2px) solid currentColor;
    border-left: rem(2px) solid currentColor;
  }

  &__inner::after {
    right: rem(-4px);
    bottom: rem(-4px);
    border-right: rem(2px) solid currentColor;
    border-bottom: rem(2px) solid currentColor;
  }

  &:hover {
    &::before,
    &::after,
    .button__inner::before,
    .button__inner::after {
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    vertical-align: middle;
  }
}
