/**
 * Defaults
 */

.icon {
  use {
    fill: currentColor;
  }
}

/**
 * Globals
 */

* {
  // Border-box
  box-sizing: border-box;

  // Custom focus state for DOM elements
  &:focus {
    outline: none;
    box-shadow: 0 0 0 rem(3px) rgba($color-primary, 0.12);
  }
}

// HTML
html {
  font-feature-settings: 'kern';
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;

  // Enable scroll momentum on iPhone Safari (webkit)
  -webkit-overflow-scrolling: touch;
  position: relative;

  // Font rendering
  text-rendering: optimizeLegibility;
}

// Body
body {
  overflow-x: hidden;
  min-width: rem(320px);
  padding: rem(20px);
  background-color: $color-background-body;
  color: $color-text;
  font-family: $default-fontface-stack;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  line-height: $default-line-height;

  // Default font-family until webfonts are loaded
  .no-fonts & {
    font-family: $default-system-stack;
  }
}

.main {
  @include clearfix();
  margin: rem(32px) 0;
  padding: rem(48px) 0 rem(96px);
  background-color: $white;
  transition: transition-custom();
  transition-property: margin;

  @include below(large) {
    margin: rem(16px) 0;
  }
}

.section {
  padding-top: $default-padding;
  padding-bottom: $default-padding;
  background-color: $color-background;

  &.-background-dark {
    background-color: $color-background-dark;
  }
}

/* stylelint-disable selector-no-qualifying-type */
img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px;
}

/* stylelint-enable */
